.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}
/* side bar */
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px 0;
  color: white;
}
.room-name a {
  text-decoration: none;
  color: white;
}
.header-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.create-room a {
  padding: 14px;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}
/* chat */
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
/* chat header */
.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.header-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}
.header-button {
  margin-top: 40px;
}
.header-button a{
  color: darkred;
  text-decoration: none;
  padding: 20px;
  border: 1px solid darkred;
}

/* chat message */
.message {
  margin: 10px 0 0 0;
}
.upper-message {
  display: flex;
}
.message-user {
  font-size: 16px;
  color: #434A54;
}
.message-date{
  font-size: 12px;
  padding-left: 10px;
  color: #999
}
.lower-message {
  margin-top: 10px;
}
.message-content {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}
/* chat form */
.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}
.form-message {
  padding-left: 10px;
  border: none;
  height: 50px;
  width: 100%;
}
.form-submit {
  padding: 0 20px;
  margin-left: 15px;
  color: white;
  font-size: 16px;
  background-color: #38AEF0;
  border: none;
  height: 50px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}